@media (max-width: 1440px) {
    /* Ad-offer */
    .ad-offer__text {
        max-width: 500px;
    }

    /* Hero */
    .hero__title {
        font-size: 60px;
    }

    .hero__text {
        font-size: 28px;
    }

    /* Tools */
    .tools-section, .instruction-section, .bonus-section, .advantages-section, .portfolio-section, .devices-section,
    .phone-section,.faq-section, .request-section {
        padding-top: 160px;
    }

    .tools__title {
        font-size: 52px;
        margin-bottom: 50px;
    }

    /* Instruction */
    .instruction__title {
        font-size: 52px;
        margin-bottom: 20px;
    }

    .instruction__text {
        font-size: 20px;
        margin-bottom: 80px;
    }

    .instruction__item {
        flex-basis: 100%;
    }

    .instruction__item-title {
        font-size: 26px;
        margin: 10px 0 20px;
    }

    .instruction__item-text {
        font-size: 18px;
    }

    .instruction__item-number {
        display: none;
    }

    /* Advantages */
    .advantages__title {
        margin-bottom: 50px;
    }

    .advantages__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .advantages__item {
        padding: 30px;
    }

    /* Portfolio */
    .portfolio__inner {
        gap: 60px;
    }

    .portfolio__title {
        font-size: 42px;
        margin-bottom: 15px;
    }

    .portfolio__text {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .portfolio__img {
        max-width: 600px;
    }

    /* Cards */
    .cards__item {
        gap: 15px;
    }

    .cards__item-title {
        font-size: 52px;
    }

    .cards__item-text {
        font-size: 22px;
    }

    /* Devices */
    .devices__title {
        font-size: 52px;
    }

    .devices__text {
        font-size: 22px;
    }

    /* Phone */
    .phone__inner {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .phone__title {
        font-size: 52px;
        text-align: center;
    }

    .phone__text {
        font-size: 22px;
        text-align: center;
        margin: 15px 0 30px;
    }

    .phone__btns {
        margin: 0 auto;
    }

    /* Faq */
    .faq__inner {
        flex-direction: column;
        gap: 80px;
    }

    .faq-left {
        align-items: center;
        max-width: 100%;
    }

    .faq-left__title {
        text-align: center;
        margin-bottom: 5px;
    }

    .faq-left__text {
        text-align: center;
        margin-bottom: 20px;
        max-width: 100%;
    }

    .faq__list {
        gap: 40px;
    }

    .faq__item {
        justify-content: center;
    }

    .faq__item-title {
        font-size: 32px;
    }

    /* Request */
    .request__list {
        display: none;
    }

    .request__title {
        font-size: 52px;
    }

    .request-form__input {
        padding: 25px;
    }

    .request__title {
        margin-bottom: 50px;
    }

    .request-form {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 960px) {
    /* Header */
    .header-left__logo > img {
        width: 110px;
    }

    .header__list {
        gap: 20px;
    }

    .header__btn {
        padding: 15px 30px;
        border-radius: 10px;
    }

    /* Ad-offer */
    .ad-offer__text {
        max-width: 440px;
        font-size: 16px;
    }

    .ad-offer__time {
        letter-spacing: 0%;
        font-size: 26px;
    }

    .ad-offer__inner {
        flex-wrap: wrap;
        gap: 24px;
    }

    /* Hero */
    .hero__title {
        font-size: 52px;
    }

    .hero__texts {
        margin-bottom: 24px;
    }

    .hero__text {
        font-size: 22px;
    }

    /* Profitability */
    .profitability__title {
        font-size: 52px;
        max-width: 700px;
    }

    .profitability__list {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        margin-bottom: 40px;
    }

    .profitability__item:nth-child(odd) {
        margin-top: 0;
    }

    .profitability__inscription {
        margin-bottom: 20px;
    }

    /* Tools */
    .tools-section, .instruction-section, .bonus-section, .advantages-section, .portfolio-section, .cards-section,
    .devices-section, .phone-section, .faq-section {
        padding-top: 140px;
    }

    .tools__title {
        font-size: 36px;
        margin-bottom: 30px;
    }

    /* Instruction */
    .instruction__title {
        font-size: 46px;
    }

    .instruction__text {
        font-size: 18px;
        margin-bottom: 60px;
    }

    .instruction__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }

    /* Bonus */
    .bonus__suptitle {
        font-size: 150px;
        margin-bottom: -60px;
    }

    .bonus__title {
        font-size: 52px;
    }

    .bonus__text {
        font-size: 22px;
        margin: 20px 0 30px;
    }

    .bonus__btn {
        width: 350px;
        height: 90px;
        padding: 10px;
    }

    /* Advantages */
    .advantages__title {
        font-size: 52px;
        margin-bottom: 30px;
    }

    /* Portfolio */
    .portfolio__inner {
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 50px;
    }

    .portfolio__img {
        display: none;
    }

    .portfolio__content {
        align-items: center;
    }

    .portfolio__title, .portfolio__text {
        text-align: center;
    }

    .portfolio__title {
        margin-bottom: 10px;
    }

    .portfolio__text {
        margin-bottom: 30px;
    }

    /* Cards */
    .cards__list {
        flex-direction: column;
        gap: 40px;
    }

    .cards__item {
        gap: 2px;
    }

    .cards__item-title {
        font-size: 62px;
    }

    .cards__item-text {
        font-size: 24px;
    }

    /* Devices */
    .devices__top {
        grid-template-columns: 1fr;
    }

    .devices__title, .devices__text {
        text-align: center;
    }

    .devices__content {
        gap: 15px;
    }

    /* Faq */
    .faq__inner {
        gap: 60px;
    }

    .faq-left__title {
        font-size: 52px;
    }

    .faq-left__text {
        font-size: 20px;
    }

    .faq__item {
        gap: 40px;
    }

    .faq__item-wrapper {
        width: 100%;
        max-width: 100%;
    }
    
    .faq__item-title {
        font-size: 24px;
    }

    .faq__item-text {
        font-size: 16px;
    }

    .faq__item-question-img {
        display: none;
    }

    /* Request */
    .request__title {
        font-size: 38px;
        margin-bottom: 30px;
    }

    .request-form__input, .request-form__btn {
        font-size: 20px;
        padding: 20px;
    }

    /* Policy */
    .policy-section {
        padding: 80px 0;
    }

    .policy__title {
        font-size: 42px;
        margin-bottom: 30px;
    }

    .policy__text {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    /* Header */
    .header__list {
        display: none;
    }

    .header-left__logo > img {
        width: 130px;
    }

    /* Hero */
    .hero__title {
        font-size: 44px;
    }

    .hero__text {
        font-size: 18px;
    }

    .hero__btns {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .hero__btn {
        padding: 25px;
    }

    /* Profitability */
    .profitability__title {
        font-size: 42px;
    }

    .profitability__text, .profitability__inscription {
        font-size: 20px;
    }

    /* Instruction */
    .instruction__title {
        margin-bottom: 15px;
    }

    .instruction__text {
        margin-bottom: 40px;
    }

    .instruction__list {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .instruction__item {
        align-items: center;
    }

    .instruction__item-title {
        margin: 8px 0 8px;
        text-align: center;
    }

    .instruction__item-text {
        text-align: center;
    }

    /* Bonus */
    .bonus__suptitle {
        font-size: 120px;
        margin-bottom: -50px;
    }

    .bonus__title {
        font-size: 46px;
        max-width: 600px;
    }

    .bonus__text {
        font-size: 20px;
        margin: 10px 0 20px;
    }

    .bonus__btn {
        width: 280px;
        height: 75px;
    }

    /* Advantages */
    .advantages__title {
        font-size: 46px;
        margin-bottom: 20px;
    }

    .advantages__list {
        grid-template-columns: 1fr;
    }

    .advantages__item {
        height: 400px;
    }

    /* Portfolio */
    .portfolio__title {
        font-size: 36px;
    }

    .portfolio__text {
        font-size: 18px;
        margin-bottom: 20px;
    }

    /* Devices */
    .devices__title {
        font-size: 38px;
    }

    .devices__text {
        font-size: 20px;
    }

    /* Phone */
    .phone__title {
        font-size: 38px;
    }

    .phone__text {
        font-size: 20px;
    }

    /* Faq */
    .faq-left__title {
        font-size: 38px;
    }

    .faq-left__text {
        font-size: 20px;
    }

    /* Request */
    .request__title {
        font-size: 36px;
    }

    .request-form {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    /* Policy */
    .policy-section {
        padding: 60px 0;
    }

    .policy__title {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .policy__text {
        font-size: 14px;
    }
}

@media (max-width: 620px) {
    /* Ad-offer */
    .ad-offer__inner {
        gap: 12px;
    }

    .ad-offer__present {
        display: none;
    }

    /* Hero */
    .hero__title {
        font-size: 36px;
    }

    .hero__text {
        font-size: 16px;
    }

    /* Profitability */
    .profitability__title {
        font-size: 36px;
        margin-bottom: 15px;
    }

    .profitability__text, .profitability__inscription {
        font-size: 18px;
    }

    .profitability__inscription {
        margin-bottom: 20px;
    }

    .profitability__list {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 60px;
    }

    /* Tools */
    .tools-section, .instruction-section, .bonus-section, .advantages-section, .portfolio-section, .cards-section, .devices-section,
    .phone-section, .faq-section, .request-section, .footer {
        padding-top: 60px;
    }

    .tools__title {
        margin-bottom: 20px;
    }

    /* Instruction */
    .instruction__title {
        font-size: 36px;
    }

    /* Bonus */
    .bonus__btns {
        flex-direction: column;
        width: 100%;
    }

    .bonus__btn {
        width: 100%;
        max-width: 100%;
    }

    /* Advantages */
    .advantages__title {
        font-size: 36px;
    }

    .advantages__item {
        height: 360px;
    }

    /* Portfolio */
    .portfolio__title {
        font-size: 28px;
        margin-bottom: 8px;
    }

    .portfolio__text {
        font-size: 16px;
        margin-bottom: 15px;
    }

    /* Cards */
    .cards__list {
        gap: 30px;
    }

    .cards__item-title {
        font-size: 46px;
    }

    .cards__item-text {
        font-size: 20px;
    }

    /* Devices */
    .devices__title {
        font-size: 28px;
    }

    .devices__text {
        font-size: 18px;
    }

    .devices__content {
        gap: 10px;
    }

    .devices__bottom-img {
        display: none;
    }

    /* Phone */
    .phone__title {
        font-size: 28px;
    }

    .phone__text {
        font-size: 18px;
        margin: 10px 0 20px;
    }

    .phone__btns {
        flex-direction: column;
        margin: 0;
    }

    .phone__btn {
        width: 100%;
    }

    /* Request */
    .request__title {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .request-form {
        gap: 10px;
    }

    .request-form__input, .request-form__btn {
        font-size: 18px;
        padding: 15px;
    }

    /* Footer */
    .footer__inner {
        flex-direction: column;
        gap: 50px;
    }

    .footer-left {
        gap: 10px;
    }

    .footer-right__phone {
        margin: 5px 0 10px;
    }

    /* Modal */
    .modal__box {
        padding: 30px;
    }

    .modal__close-btn {
        display: none;
    }

    .modal__title {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .modal__text {
        margin-bottom: 20px;
    }

    .modal-form__input {
        padding: 15px;
        font-size: 18px;
        border-width: 2px;
    }

    .modal-form {
        gap: 16px;
    }

    .modal-form__btn {
        font-size: 20px;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    /* Header */
    .header-left__logo > img {
        width: 110px;
    }

    .header__btn {
        font-size: 16px;
        font-weight: 600;
    }

    /* Ad-offer */
    .ad-offer__title {
        font-weight: 400;
    }

    .ad-offer__text {
        font-size: 14px;
    }

    .ad-offer__time {
        font-size: 20px;
    }

    /* Hero */
    .hero__title {
        font-size: 32px;
    }

    .hero__texts {
        font-size: 14px;
        margin-bottom: 15px;
        gap: 10px;
    }

    .hero__btn {
        padding: 20px;
    }

    .hero-bottom__item > img {
        width: 60px;
        min-width: 60px;
        max-width: 60px;
        height: 60px;
        min-height: 60px;
        max-height: 60px;
    }

    .hero-bottom__text {
        font-size: 14px;
        font-weight: 300;
        line-height: 140%;
    }

    .hero-bottom__item:nth-child(2), .hero-bottom__item:nth-child(3) {
        margin-left: -40px;
    }

    /* Profitability */
    .profitability__title {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .profitability__text, .profitability__inscription {
        font-size: 16px;
        margin-bottom: 20px;
    }

    /* Tools */
    .tools__title {
        font-size: 32px;
        margin-bottom: 10px;
    }

    /* Instruction */
    .instruction__title {
        font-size: 32px;
    }

    .instruction__text {
        font-size: 16px;
    }

    .instruction__item-title {
        font-size: 20px;
    }

    .instruction__item-text {
        font-size: 16px;
    }

    /* Bonus */
    .bonus__suptitle {
        font-size: 90px;
        margin-bottom: -40px;
    }

    .bonus__title {
        font-size: 36px;
    }

    .bonus__text {
        font-size: 16px;
    }

    .bonus__btn {
        height: 70px;
    }

    /* Advantages */
    .advantages__title {
        font-size: 32px;
    }

    .advantages__item {
        padding: 20px;
    }

    .advantages__item-title {
        font-size: 24px;
    }

    .advantages__item-text {
        font-size: 20px;
    }

    /* Portfolio */
    .portfolio__title {
        font-size: 24px;
    }

    .portfolio__text {
        font-size: 14px;
        margin-bottom: 12px;
    }

    .portfolio__btn {
        font-size: 16px;
    }

    /* Cards */
    .cards__list {
        gap: 20px;
    }

    .cards__item-title {
        font-size: 38px;
    }

    .cards__item-text {
        font-size: 18px;
    }

    /* Devices */
    .devices__title {
        font-size: 26px;
    }

    .devices__text {
        font-size: 16px;
    }

    /* Phone */
    .phone__title {
        font-size: 26px;
    }

    .phone__text {
        font-size: 16px;
    }

    .phone__btn {
        padding: 10px;
        height: 60px;
    }

    /* Faq */
    .faq__inner {
        gap: 40px;
    }

    .faq-left__title {
        font-size: 26px;
        margin-bottom: 2px;
    }

    .faq-left__text {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .faq__list {
        gap: 20px;
    }

    .faq__item-title {
        font-size: 20px;
    }

    .faq__item-text {
        font-size: 14px;
    }

    .faq-left__btn {
        font-size: 16px;
        padding: 20px 30px;
    }

    /* Request */
    .request__title {
        font-size: 24px;
    }

    .request-form__input, .request-form__btn {
        font-size: 16px;
    }

    /* Modal */
    .modal__title {
        font-size: 24px;
    }

    .modal-form__input {
        font-size: 16px;
    }

    .modal-form__btn {
        font-size: 18px;
    }

    /* Policy */
    .policy__section {
        padding: 40px;
    }

    .policy__title {
        font-size: 30px;
        margin-bottom: 15px;
    }
}

@media (max-width: 400px) {
    /* Profitability */
    .profitability__title {
        font-size: 26px;
    }

    .profitability__text, .profitability__inscription {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .profitability__list {
        grid-template-columns: 1fr;
        margin-bottom: 40px;
        gap: 15px;
    }

    /* Instruction */
    .instruction__title {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .instruction__text {
        margin-bottom: 25px;
    }

    .instruction__list {
        gap: 15px;
    }

    .instruction__item-title {
        font-size: 18px;
    }

    .instruction__item-text {
        font-size: 14px;
    }

    /* Bonus */
    .bonus__suptitle {
        font-size: 80px;
    }

    .bonus__title {
        font-size: 26px;
    }

    .bonus__text {
        font-size: 14px;
    }

    .bonus__btns {
        gap: 10px;
    }

    .bonus__btn {
        font-size: 18px;
        height: 65px;
    }

    /* Advantages */
    .advantages__title {
        font-size: 26px;
    }

    /* Portfolio */
    .portfolio__title {
        font-size: 22px;
    }

    .portfolio__text {
        font-size: 12px;
    }

    /* Devices */
    .devices__title {
        font-size: 24px;
    }

    .devices__text {
        font-size: 14px;
    }

    .devices__content {
        gap: 8px;
    }

    /* Phone */
    .phone__title {
        font-size: 24px;
    }

    .phone__text {
        margin: 5px 0 10px;
        font-size: 14px;
    }

    .phone__btns {
        gap: 10px;
    }

    .phone__btn {
        font-size: 14px;
    }

    /* Modal */
    .modal__box {
        padding: 20px;
    }

    .modal__title {
        font-size: 22px;
    }

    .modal__text {
        font-size: 15px;
    }

    .modal-form {
        gap: 8px;
    }
}